body{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: aliceblue;
  
  margin-top: 0px;
 
}


.UG-logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 355px;
  height: 45px;
  
         
}

header{
  color: #fff;
  padding: 3px;
  text-align: center;
}

nav {
  background-color: #444;
  overflow: hidden;
}

nav a {
  
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-top: 1px;
  margin-bottom: 1px;
  transition-duration: 1.5s;

}

nav a:hover {
  background-color: pink;
  color: #333;
  border-radius: 20px;
}


section {
  padding: 20px;
}


.welcome {
  text-align: center;
  background-image: url(IMAGES/background\ 2.webp);
  background-position: 0px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  box-sizing: border-box;
  padding: 220px;
  background-size: 1320px 680px;
  border: 3.5px dashed bisque;
  border-radius: 10px;
  margin-left: 0px;
   
    
}


.container{
  background-color:bisque;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(5, 5, 5, 0.6);
  padding: 15px;
  margin: 0.2px;
  cursor: pointer;
  justify-content: center;
  flex-direction: column;
  display: flex;
  width: 350px;
  height: 280px;
  margin-top:0;
  border: dashed 3px #444;
   
  
}
 

.heading-section{
  font-style: bold;
  font-size: 5em;
  font-weight: 200px;
  line-height: 40px;
  color:rgb(221, 174, 95);
  text-align:center;
  font-size: 50px;
  text-transform: capitalize;
  font-stretch:wider;
  text-wrap: wrap;
      
}

.paragraph-section{
  font-stretch: wider;
  font-weight: 300;
  font-size: medium;
  margin-top: 0px;
  font-style: italic;
  font-size: 20px;
  padding-top: 0px;
  color: rgb(221, 174, 95);
  text-transform: capitalize;
  text-wrap: wrap;
  text-shadow: #444;
  text-overflow: ellipsis;
  text-indent: 30px;
}


.div-section{
  background-color:bisque;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(5, 5, 5, 0.6);
  padding: 15px;
  margin: 10px;
  cursor: pointer;
  justify-content: center;
  flex-direction: column;
  display: flex;
  width: 350px;
  height: 280px;
  border: dashed 3px #444;
  margin-left: auto;
  margin-right: auto;
  transition: 1.5s;

}

.div-section:hover{
  box-shadow: 0 0 10px rgba(5, 5, 5, 0.6);
  transform: scale(1.15);

}

.div-news{
  background-color:bisque;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(5, 5, 5, 0.6);
  padding: 15px;
  margin: 0.2px;
  cursor: pointer;
  justify-content: center;
  flex-direction: column;
  display: flex;
  width: 350px;
  height: 280px;
  margin-top:0;
  border: dashed 3px #444;
  float: right; 

}

.NEWS{
  background-image: url(IMAGES/background\ 3.jpg);
  height: 970px;
  border: 3px dashed bisque;
  border-radius: 10px;
  margin-left: 0px;
}

.footer-container{
  background-color: rgb(214, 228, 240);
  width: 97%;
  margin-left: 20px;
  display: grid;
  grid-template-rows: 100px 130px 70px 60px;

}

.footer-items{
  width: 100%;
 
  
}

#footer-section{
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 120px;
  column-gap: 100px;
  padding: 30px;
  margin-left:130px;
  text-align: center;
  margin-top: 10px;

}

#footer_section{
  text-align: center;
  line-height: 25px;
  width: 80%;
  margin-left: 95px;
  padding:30px;
  font-size: 18px;

}

#pinned-images{
  width: 35px;
  padding-inline: 25px;
}

#pinned{
  padding: 20px;
  width: 50%;
  margin-left: 29%;
  margin-right: 25%;
  justify-items: center;
}


h5{
  font-size: 19.5px;
  text-align: center;
  margin-top: 20px;
  font-style: italic;
  
}


